.navbar1
{   color:white;
    margin-left:20px ;
    margin-top:-20px;
    margin-right:90px;
}
.btn-default
{
    width:10px;
}
.topnav
{
  position:relative;  
}
.list:hover
{
    background-color:#ededed;
}
.list
{
    transition:1.5s;
}
.arrow
{
    padding-left:2px;
    margin-top:1px;
}
.nav-label1
{
    text-transform:none;
}
.leftbar
{
    position:relative;
     border-right-style: none;
     border-width:1px;
}

.media-list
{
    margin-left:0px;
    margin-right:30px;
}
.con
{
    margin-top:30px;
    border-radius:15px;
}
.active
{
    border-radius:30px;
    border-width:1px;
}
.searchbar
{
    border-radius:10px;
    border-width:1px;
}
.wm-app .list-group-item
{
    border:none;
}
.list-group
{
    border:none;
}
.media-list
{
    border:none;
}
.wm-app .list-group-item1
{
height:40px;
}
.wm-app .list-group-item1:hover 
{
      background-color:#ededed;
       border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
}
.wm-app .list-group-item1:onclick
{
      background-color:#ededed;
       border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
}
.wm-app .list-group-item1.active, .wm-app .list-group-item1.active:hover, .wm-app .list-group-item1.active:focus
{   transition:0s;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    background-color:#e4f7fb;
    color:#00796b;
}